@page
@model HumanResourceModel
@{
    ViewData["Title"] = "Human Resource Department page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Human Resource Department</h1>
    <p>Here we deal ALL kinds of people!!</p>
</div>
